<tr id="contact-<%= invalid_contact.id %>">
   <td><%= invalid_contact.name %></td>
   <td><%= formatting_date(invalid_contact.birth_date) %></td>
   <td><%= invalid_contact.phone %></td>
   <td><%= invalid_contact.address %></td>
   <td><%= invalid_contact.credit_card %></td>
   <td><%= invalid_contact.franchise_credit_card %></td>
   <td><%= invalid_contact.email %></td>
   <td><%= invalid_contact.error_desc %></td>
</tr>